/* Main styling */
* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
}
html, body {
  height: 100%;
}
body {
  /* background: #010101; */
  background-image: url('../img/george-bg.jpg');
  background-size: cover;
  color: #b27636;
  /* color: #abb236; */
  /* color: #fcd720; */
  /* color: #e30922; */
  font-family: 'Niramit', Helvetica, sans-serif;
  font-size: 1.5rem;
}
/* @TODO - Look into using Rocky */
h1, h2, h3, h4 {
  font-family: 'Srisakdi', cursive;
}
.title-container {
  text-align: center;
  margin: 30px 0;
}
h1.title {
  display: inline-block;
  background: #fcd720;
  font-size: 7rem;
  text-align: center;
  padding: 15px 30px 30px 30px;
}
.monks-coffeehouse {
  display: grid;
}
#cookie-crunch {
  overflow: auto;
padding-bottom: 111px;
margin: 0 auto;
width: 90%;
}
.yankee-stadium {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  padding: 20px;
  margin: 0 15px;
  font-family: 'Niramit', Helvetica, sans-serif;
  font-size: 1.5rem;
  background:  #dcb64c;
  border: 1px solid #dcb64c;
  border-radius: 5px;
}
button:hover {
  background: #b27636;
  border: 1px solid #b27636;
}
.unemployed {
  background: #b27636;
  border: 1px solid #b27636;
  cursor: not-allowed;
}
.yada-yada-area {
  display: grid;
  margin: 30px 45px;
  border-radius: 10px;
  background:  #333332;
}
div[id^="yadablock"] {
  padding: 20px;
  min-height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* #footer {
  position: relative;
  margin-top: -111px;
  height: 111px;
  clear: both;
  background-color: #e1efef;
} */
