/* Main styling */
* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
}
html, body {
  height: 100%;
}
body {
  background: url('../img/gc-bg-sm.png') no-repeat;
  /* background: url('../img/gc-bg.png') no-repeat; */
  background-size: 50%;
  background-position: left;
  background-color: #cbbace;
  color: #3e3c39;
  font-family: alegreya-sans, sans-serif;
  font-size: 1.5rem;
}
h1, h2, h3, h4 {
  font-family: rocky, serif;
}
#queens {
  grid-row: 1 / span 7;
}
/* .triangle-guy {
  background: url('../img/gc-bg-sm.png') no-repeat;
  display: none;
  z-index: -30;
} */
.title-container {
  text-align: center;
  margin: 30px 0 30px 100px;
}
.title-background {
  display: inline-block;
  background: #fcd720;
  text-align: center;
  border-radius: 50%;
  width: 500px;
  height: 200px;
  transform: rotate(-12deg);
  box-shadow: 1px 2px 3px #1d1c1c;
}
h1.title {
  color: #e30922;
  font-size: 7rem;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 2px #1d1c1c;
  /* top: 52px;
  left: 530px; */
  width: 550px;
  line-height: 5.5rem;
  transform: rotate(6.5deg);
  display: inline-block;
}
.monks-coffeehouse {
  display: grid;
  min-height: 100%;
}
.yankee-stadium {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  padding: 20px;
  margin: 0 15px;
  font-size: 1.5rem;
  background:  #fcd720;
  border: 1px solid #fcd720;
  border-radius: 5px;
  box-shadow: -1.5px 2px #676262;
}
button:hover {
  background: #f60006;
  border: 1px solid #f60006;
  color: #efebe7;
}
.btn-txt {
  display: inline;
}
.icon {
  display: inline;
  float: right;
}
.unemployed,
.unemployed:hover {
  background: #a19c97;
  border: 1px solid #a29c96;
  cursor: not-allowed;
  color: #7c7a7a;
}
.yada-yada-area {
  display: grid;
  margin: 30px 45px;
  border-radius: 10px;
  background: #e5cfcf;
}
div[id^="yadablock"] {
  padding: 10px;
  margin-bottom: 5px;
}
#franks-footer {
  grid-row: 8 / span 1;
  background: #fcd720;
  /* color: #fcd720; */
  text-align: center;
  padding-top: 15px;
}

/* Media queries */
@media only screen and (max-width:68.75rem) {
  body {
    /* background: url('../img/gc-bg-sm.png') no-repeat; */
    background-position: left;
    background-size: 100%;
    background-color: #cbbace;
  }
  /* .triangle-guy {
    display: inline-block;
    background-size: 100%;
    background-position: top left;
    min-height: 100%;
  } */
  .yada-yada-area {
    margin: 30px;
  }
}
@media only screen and (max-width:64rem) {
  button {
    padding: 12px;
  }
}
@media only screen and (max-width:60rem) {
  button:nth-child(3) {
    font-size: 0.8em;
  }
}
@media only screen and (max-width:58.75rem) {
  body {
    background-position: 10% 0%;
    background-size: 100%;
  }
  .title-container {
    margin: 30px 0;
  }
}

@media only screen and (max-width:52.5rem) {
  body {
    background-size: 120%;
  }
  button:nth-child(3) {
    font-size: 0.7em;
  }
}
/* Tablet */
@media only screen and (max-width:48rem) {
  body {
    background-position: 10% -5%;
    background-size: 150%;
  }
  .yankee-stadium {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  button:nth-child(3) {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:37.5rem) {
  body {
    background-position: 5% -3%;
  }
  .title-background {
    width: 300px;
    height: 150px;
  }
  h1.title {
    font-size: 5rem;
    width: 350px;
    line-height: 4.5rem;
  }
}
@media only screen and (max-width:31.3rem) {
  body {
    font-size: 1.3rem;
  }
  .yankee-stadium {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  button {
    padding: 10px;
    margin: 0 5px;
  }
  button,
  button:nth-child(3) {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width:29.4rem) {
  body {
    /* background-position: 2% -2%; */
    /* background-position: 5% -12%;
    background-size: 190%; */
    /* background-position: 5% 2%; */
    background-size: 170%;
  }
  .title-container {
    text-align: right;
    margin: 30px 40px 30px 0;
  }
  h1.title {
    font-size: 4.1rem;
    width: 220px;
    line-height: 4rem;
  }
}

/* Large mobile */
@media only screen and (max-width:26.6rem) {
  /* .yankee-stadium {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
  } */
  body {
    background-position: 5% -1%;
  }
  .btn-txt {
    display: none;
  }
  .icon {
    float: none;
  }
}

@media only screen and (max-width:25rem) {

  .title-background {
    width: 225px;
    height: 110px;
  }
  h1.title {
    font-size: 3.5rem;
    width: 200px;
    line-height: 3rem;
  }
}

/* Small mobile */
@media only screen and (max-width:20.6rem) {
  body {
    background-position: 5% 1%;
  }
}
@media only screen and (max-width:20rem) {
  body {
    background-position: 5% 2%;
    background-size: 160%;
  }
  .title-container {
    margin-left: 20px;
  }
}
@media only screen and (max-width:19.4rem) {
  body {
    background: #cbbace;
  }
  .title-container {
    text-align: center;
    margin: 20px 0;
  }
}
